<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/insert.css' %}">
 

<div class="col-lg-5 shadow  mx-auto p-0 m-3">
    <div class="container" >
   <h2 class="alert alert-success">User Insert Form</h2>
    <form method="post" align='center'>
       {{form.as_p}}
       {%csrf_token%}
       <input type="submit" class='btn btn-success btn-lg'name="" value="INSERT DATA">
    </form>
  </div>
</div>

{% endblock %}