h1{
    text-align: center;

}

h2{
    text-align: center;
    
}

/* body{
    background:green;
} */

#btn{
    margin-top: 20px;
    padding-bottom: 30px;
}

#color{
    background:red;
    color: white;

}